<div class="row col-md-10 offset-1">
  <mat-card class="task-card">
    <mat-card-header>
      <mat-card-title>User Task Details</mat-card-title>
      <mat-card-subtitle>{{loggedUserName }}'s task</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h6>Task Name</h6>
      <p>{{topicName}}</p>
      <h6>Task Description</h6>
      <p>{{topicDescription}}</p>
      <h6>Task Assigned Time</h6>
      <p>{{currentTask.created_at | date:'medium'}}</p>
      <h6>Task Status</h6>
      <p>{{currentTask.completed_status == 0 ? 'Pending' : currentTask.completed_status == 1 ? 'Completed' : currentTask.completed_status
        == 2 ? 'Rejected' : Hold }}</p>
      <h6>Task Complete Date</h6>
      <p>{{currentTask.task_date | date:'MMM d, y' }}</p>
      <h6>Task Completed Time</h6>
      <p>{{currentTask.completed_at | date:'medium' }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="currentTask.completed_status == 0">
      <h6> Submit your Task</h6>
      <form  autocomplete="off" >
        <div class="row col-md-10 offset-2 form-div">
          <input type="file" required name="taskFile"  #fileUpload [(ngModel)] = "taskFile" accept="application/msword, application/pdf" />
          <span>Select word, pdf document.</span>
          <button mat-button class="btn btn-primary" type="button" (click)="submitTaskCompletion(fileUpload)">Submit</button>
        </div>
      </form>
      <app-alert-box *ngIf="showAlertBox" [msgInfo]="apiResponseStatus"></app-alert-box>
    </mat-card-actions>
  </mat-card>
</div>