.panel-card {
    width: 360px;
    height:360px;
    top:50%;
    left:50%;
    position: absolute;
    margin-top:-180px;
    margin-left:-180px;
    padding:0px !important; 
  }
  
  .panel-card .panel-card-body {
      padding:0px 25px;
      margin: 25px 0px !important;
  }

  .panel-card .panel-card-header {
      background-color:	#06326d ;
      opacity:0.75 ;
      display:block;
      text-align:center !important;
      color:#fff;
      padding:8px 0px;
  }

  .panel-card-header .mat-card-title {
    text-align: center !important;
    font-size:20px !important;
    margin-bottom:0px;
  }

  .form-field {
    width: 270px !important;
  }

  .password-btn {
    float:right;
    margin-right: 60px !important;
}
