<div class="row dashboard-cards">
  <div class="col-md-3 all-users all-tasks">
    <mat-card class="shadow-cards" *ngIf="loggedUserRole==='admin'">
      <h4>All Users</h4>
      <h5>{{dataSource.length+1}}</h5>
    </mat-card>
    <mat-card class="shadow-cards" *ngIf="loggedUserRole!=='admin'">
      <h4>All Tasks</h4>
      <h5>{{allTasks.length}}</h5>
    </mat-card>
  </div>
  <div class="col-md-3 completed">
    <mat-card class="shadow-cards">
      <h4>Task Completed</h4>
      <h5>{{completedTasks.length}}</h5>
    </mat-card>
  </div>
  <div class="col-md-3 pending">
    <mat-card class="shadow-cards">
      <h4>Task Pending</h4>
      <h5>{{pendingTasks.length}}</h5>
    </mat-card>
  </div>
  <div class="col-md-3 rejected">
    <mat-card class="shadow-cards">
      <h4>Task Rejected</h4>
      <h5>{{rejectedTasks.length}}</h5>
    </mat-card>
  </div>
</div>

<div *ngIf="loggedUserRole=='admin'">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef> D.O.B </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dob | date:'MMM d, y'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role == 1 ? 'Admin' : element.role == 2 ? 'Sub Admin' : 'User'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total tasks">
      <mat-header-cell *matHeaderCellDef> Total Tasks </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.taskDetails.totalCount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="completed tasks">
      <mat-header-cell *matHeaderCellDef> Completed Tasks</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.taskDetails.completedCount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pending tasks">
      <mat-header-cell *matHeaderCellDef> Pending Tasks</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.taskDetails.pendingCount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a routerLink="/viewprofile/{{element._id}}">
          <button mat-button class="btn btn-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button class="btn btn-danger">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedAdminColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedAdminColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10,20]"></mat-paginator>
</div>


<div *ngIf="loggedUserRole!='admin'">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="topicname">
      <mat-header-cell *matHeaderCellDef> Topic Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.topic_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdat">
      <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.created_at | date:'MMM d, y'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="targetat">
      <mat-header-cell *matHeaderCellDef> Target At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.target_at | date:'MMM d, y'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="completedat">
      <mat-header-cell *matHeaderCellDef> Completed At </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.completed_at | date:'MMM d, y'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="taskstatus">
      <mat-header-cell *matHeaderCellDef> Task Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.task_status == 0 ? 'Pending' : element.task_status == 1 ? 'Completed' : element.task_status == 2 ? 'Rejected'
        : 'Hold'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
      <mat-cell *matCellDef="let element">

        <button mat-button class="btn btn-info" type="button" (click)="viewMyTask(element.t_id)">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedUserColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedUserColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10,20]"></mat-paginator>
</div>